div{
    background-color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    background-color: blueviolet;
}
body{
    background-color: yellow;
}

p{
    border: coral;
    background-color: blue;
}

